<h2>Create a New Dog:</h2>
<br>

<form action="/newdog" method="POST">
  <label>Name:</label>
  <input type="text" name="name">


  <label><h4>Add your new dog to existing walks:</h4></label>
    <% Walk.all.each do |walk| %>
      <input type="checkbox" id="walk_<%=walk.id%>" name="dog[walk_ids][]" value="<%= walk.id %>">
      <label><%= walk.miles.to_f %> miles, on: <%= walk.day %>, FROM: <%= walk.from %>, TO: <%= walk.to %></label>
      <br><br>
    <% end %>

  <label><h4>Or, create a new walk:</h4></label>
   <label>Distance:</label>
    <input type="text" id="new_walk" name="walk[distance]">
    <label>Walked From:</label>
    <input type="text" name="walk[from]">
    <label>Walked To:</label>
    <input type="text" name="walk[to]">

  <br></br>
  <input type="submit" value="Create New Dog" name="submit">

</form>
