<h1><%=@dog.name%></h1>

  <h2>Walks</h2>

  <%@dog.walks.each do |walk| %>
    <label><%= walk.miles.to_f %> miles, on: <%= walk.day %>, FROM: <%= walk.from %>, TO: <%= walk.to %></label>
    <br>
  <%end %>


  <h2>Edit Dog</h2>
    <form action="/dogs/<%= @dog.id %>" method="POST">
      <input type="hidden" name="_method" value="patch">
      <label>Name</label>
      <input type="text" id="dog_name" name="dog[name]" value="<%= @dog.name%>"><br></br>
      </br>

      <input type="submit" value="Edit Dog">

    </form>

    <br><br>

    <h4>DELETE DOG</h4>

    <form action="/dogs/<%=@dog.id%>/delete" method="POST">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Dog" name="Delete Dog">
    </form>
