<h1>Your Walks:</h1>


<%@user.dogs.each do |dog|%>

  <h4><%=dog.name%></h4>
    <%if dog.walks.empty? %>
      <p>No walks detected!</p>
    <% end %>

    <%dog.walks.each do |walk|%>
      <br>
      <a href="/walks/<%=walk.id%>">Distance: <%=walk.miles.to_f%> Date: <%= walk.day %> From: <%= walk.from %> To: <%= walk.to %></a>
    <%end%>
<%end%>
