<h1>Your Walks:</h1>


<%@user.dogs.each do |dog|%>

  <%=dog.name%>
    <%if dog.walks.empty? %>
      <p>No walks detected!</p>
    <% end %>

    <%dog.walks.each do |walk|%>
      <div>
        Distance: <%=walk.miles.to_f%>
        Date: <%= walk.day %>
        From: <%= walk.from %>
        To: <%= walk.to %>
        <br>
      </div>
    <%end%>
<%end%>
