<h1>Your Walks:</h1>

<%@user.dogs.each do |dog|%>

  <%=dog.name%>
  <ul>
    <%dog.walk.each do |walk|%>
      <%=walk.miles.to_f%>
      <%= walk.day %>
      <%= walk.from %>
      <%= walk.to %>
      <br>
    <%end%>
  </ul>
  <ul>
    <%dog.walks.each do |walk|%>
      <%=walk.miles.to_f%>
      <%= walk.day %>
      <%= walk.from %>
      <%= walk.to %>
      <br>
    <%end%>
  </ul>
<%end%>

<%= @user.dogs %>
